# Mac / Local
.DS_Store
tmp/

# Python / Tests
*.pyc
pip-selfcheck.json
man

# drive
.gd

# Virtualenv
.Python
bin
lib
include

# Codebase
playground.py

# PYPI
dist/
MANIFEST

# SUBLIME
sftp-config.json

# Notebooks
*.ipynb

# NBGIT
nbpy
nbgit_config.py
nbgit.egg-info