# Mac / Local
.DS_Store
tmp/

# Python / Tests
*.pyc
pip-selfcheck.json
man

# Codebase
playground.py


# SUBLIME
sftp-config.json


# NBGIT
nbpy/
nbgit_config.py
*.ipynb


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
MANIFEST
downloads/
eggs/
.eggs/
lib/
lib64/
bin/
include
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg